Main/WCF/HOST/BARS/Service References/SrvAdres/ServiceAdres.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.stcline.ru" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ServiceAdres" targetNamespace="http://www.stcline.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://aidar/wsdl/adres.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.stcline.ru/Imports">
      <xsd:import schemaLocation="http://aidar/wsdl/adres.svc?xsd=xsd0" namespace="http://www.stcline.ru" />
      <xsd:import schemaLocation="http://aidar/wsdl/adres.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdres_GetAdresString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdresString" />
  </wsdl:message>
  <wsdl:message name="IAdres_GetAdresString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdresStringResponse" />
  </wsdl:message>
  <wsdl:message name="IAdres_ValidNumID_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidNumID" />
  </wsdl:message>
  <wsdl:message name="IAdres_ValidNumID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidNumIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdres">
    <wsdl:operation name="GetAdresString">
      <wsdl:input wsaw:Action="http://www.stcline.ru/IAdres/GetAdresString" message="tns:IAdres_GetAdresString_InputMessage" />
      <wsdl:output wsaw:Action="http://www.stcline.ru/IAdres/GetAdresStringResponse" message="tns:IAdres_GetAdresString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidNumID">
      <wsdl:input wsaw:Action="http://www.stcline.ru/IAdres/ValidNumID" message="tns:IAdres_ValidNumID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.stcline.ru/IAdres/ValidNumIDResponse" message="tns:IAdres_ValidNumID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServiceAdres">
    <wsdl:port name="BasicHttpBinding_IAdres" binding="i0:BasicHttpBinding_IAdres">
      <soap:address location="http://aidar/wsdl/adres.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>