Main/DATA/CLASS/GLOBALS/SOURCE/INTF/_EPasp/xsd/epasp_offline/building/report_core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://cit.ru/gkhrt" version="1.0"
           xmlns:gkh="http://cit.ru/gkhrt" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../request_core.xsd"/>

  <xs:simpleType name="nonNegativeShort">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="money">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="15"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="positiveMoney">
    <xs:restriction base="gkh:money">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="communalResource">
    <xs:annotation>
      <xs:documentation>Коммунальный ресурс</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:enumeration value="HOT_WATER">
        <xs:annotation>
          <xs:documentation>Горячая вода</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COLD_WATER">
        <xs:annotation>
          <xs:documentation>Холодная вода</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DRAINAGE">
        <xs:annotation>
          <xs:documentation>Водоотведение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ELECTRIC_ENERGY">
        <xs:annotation>
          <xs:documentation>Электрическая энергия</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GAS">
        <xs:annotation>
          <xs:documentation>Газ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HEAT_ENERGY">
        <xs:annotation>
          <xs:documentation>Тепловая энергия</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="inn">
    <xs:annotation>
      <xs:documentation>ИНН организации или частного лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:pattern value="\d{10}"/>
      <xs:pattern value="\d{12}"/>
      <xs:pattern value="\d{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="innOrganization">
    <xs:annotation>
      <xs:documentation>ИНН</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:pattern value="\d{10}"/>
      <xs:pattern value="\d{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="innNaturPerson">
    <xs:annotation>
      <xs:documentation>ИНН частного лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:inn">
      <xs:length value="12"/>
      <xs:pattern value="\d{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="innJurPerson">
    <xs:annotation>
      <xs:documentation>ИНН организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:innOrganization">
      <xs:length value="10"/>
      <xs:pattern value="\d{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="innIndividualEntrepreneur">
    <xs:annotation>
      <xs:documentation>ИНН ИПБЮЛ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:innOrganization">
      <xs:length value="14"/>
      <xs:pattern value="\d{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="snils">
    <xs:annotation>
      <xs:documentation>СНИЛС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="\d{3}[\-]\d{3}[\-]\d{3}[\-]\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ogrn">
    <xs:annotation>
      <xs:documentation>Огрн</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:pattern value="\d{15}"/>
      <xs:pattern value="\d{13}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ogrnIndividualEntrepreneur">
    <xs:annotation>
      <xs:documentation>
        Основной государственный регистрационный номер индивидуального предринимателя
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:ogrn">
      <xs:length value="15"/>
      <xs:pattern value="\d{15}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ogrnJurPerson">
    <xs:annotation>
      <xs:documentation>
        Основной государственный регистрационный номер юридического лица
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:ogrn">
      <xs:length value="13"/>
      <xs:pattern value="\d{13}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="registrationReasonCode">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:pattern value="\d{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="okato">
    <xs:annotation>
      <xs:documentation>
        Код из Общероссийского классификатора объектов административно-территориального деления
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:pattern value="\d{11}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="okei">
    <xs:annotation>
      <xs:documentation>
        Код по Общероссийскому классификатору единиц измерения
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:pattern value="\d{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="orgLegalFormCode">
    <xs:annotation>
      <xs:documentation>
        Код из Общероссийского классификатора организационно-правовых форм хозяйствующих субъектов
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:length value="2"/>
      <xs:pattern value="\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="okved">
    <xs:annotation>
      <xs:documentation>
        Код из Общероссийского классификатора видов экономической деятельности
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:maxLength value="8"/>
      <xs:minLength value="1"/>
      <xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
      <xs:pattern value="\d{2}"/>
      <xs:pattern value="\d{2}\.\d{1}"/>
      <xs:pattern value="\d{2}\.\d{2}"/>
      <xs:pattern value="\d{2}\.\d{2}\.\d{1}"/>
      <xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:length value="10"/>
      <xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|2[0-1][0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fiasAddress">
    <xs:annotation>
      <xs:documentation>Адресный объект (код ФИАС)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="fio">
    <xs:annotation>
      <xs:documentation>ФИО физ. лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lastName">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="firstName">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="middleName">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="email">
    <xs:annotation>
      <xs:documentation>Email</xs:documentation>
    </xs:annotation>
    <xs:restriction base="gkh:string">
      <xs:maxLength value="50"/>
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="jurPerson">
    <xs:annotation>
      <xs:documentation>Юр. лицо или ИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="inn" type="gkh:innOrganization">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="registrationReasonCode" type="gkh:registrationReasonCode">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orgLegalFormCode" type="gkh:orgLegalFormCode">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ogrn" type="gkh:ogrn">
        <xs:annotation>
          <xs:documentation>ОГРН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ogrnIssueDate" type="gkh:date">
        <xs:annotation>
          <xs:documentation>Дата присвоения ОГРН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ogrnIssuerName">
        <xs:annotation>
          <xs:documentation>Наименование органа, принявшего решение о регистрации ОГРН</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="juridicalAddressFiasCode" type="gkh:fiasAddress">
        <xs:annotation>
          <xs:documentation>Юр. адрес, Guid из ФИАС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="juridicalAddress">
        <xs:annotation>
          <xs:documentation>Юр. адрес</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="formalJuridicalAddress">
        <xs:annotation>
          <xs:documentation>Юр. адрес (как в свидетельстве о регистрации)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="gkh:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>